:root {
  --color-surface: white;
  --color-solid: black;
  --color-primary: teal;
  --color-1: #0D192B;
  --color-2: #3C424E;
  --color-3: #CCCCCC;
  --color-4: #E3F2EA;
  --color-5: #2B4536;
  --grey-1: #171B1D;
  --grey-2: #202528;
  --grey-3: #282F33;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-fill-block {
  background-color: var(--grey-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.light-fill-block {
  background-color: var(--grey-3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-bar {
  background-color: red;
  flex-grow: 1;
}
